/*LOGO & MENU*/

.header {
    display: flex; /* we want to so that logo & rem-nav are right next to each other in a 2x1 row*/
    flex-direction: row;
    margin: auto; /*need this to center the heading! even the flexboxes */
    box-sizing: content-box;
    width: 1200px;
}

.logo {
    flex-grow: -1;
}

.logo-image {
    width: 400px;
    border-width: 0px;
    text-align: left;
    
}

.rem-nav {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    flex-grow: 3;
}

nav {
    height: 127px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: black;
}

.child-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    padding-top: 20px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
}

#cart {
    background-color: yellow;
}

#product {
    background-color: yellow;
}

.black-line {
    width: 800px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.space {
    padding-bottom: 50px;
}

.content-title {
    padding-left: 10px;
    font-size: 40px;
}

/*PRODUCT GALLERY*/

.product-gallery-page { /*Main page margin seems to need to stay... for now :)*/
    margin: auto;
    box-sizing: content-box;
    width: 1200px;
    height: 800px;
    text-align: center;
    /* background-color: green; */
}

.row-1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; would think this would work if the built in spaces weren't there, probably ineffiecient to use spaces over this property*/
    height: 400px;
    /* background-color: aquamarine; */
}

.row-2 {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; having trouble getting this piece to align... need to understand flex behavior better */
    /* height: 400px; doesn't help */
    /* background-color: orangered; */
}

.prod-indiv {
    margin: auto;
    box-sizing: content-box;
    width: 300px;
    height: 360px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.prod-indiv:hover {
    background-color: yellow;
    
}

.prod-indiv:hover .gallery-description {
    font-weight: bold;
}

#double-choc {
    /* margin: auto;
    box-sizing: content-box;
    width: 300px; unsure of what this does/doesn't do for this piece*/
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.gallery-image {
    width: 285px;
}

.gallery-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}

.gallery-description a {
    color: black;
}

.gallery-price {
    padding-left: 10px;
    text-align: left;
}

.gallery-space {
    margin: auto;
    box-sizing: content-box;
    width: 425px;
}

/*PRODUCT DETAIL*/

.product-detail-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    box-sizing: content-box;
    width: 1200px;
    text-align: center;
    font-size: 33px;
    /* background-color: brown; */
}

.detail-image {
    width: 600px;
    height: 600px;
}

.detailed-product {
    /* margin: auto; */
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 300px;
    text-align: center;
    font-size: 20px;
    /* padding-top: 30px; */
    padding-left: 50px;
    /* background-color: blueviolet; */
}

.product-options {
    /* margin: auto; */
    box-sizing: content-box;
    width: 250px;
    flex-grow: -2;
    text-align: justify;
    /* padding-top: 10px; */
    /* padding-bottom: 25px; */
    font-size: 20px;
}

.drop-down {
    /* margin: auto; */
    box-sizing: content-box;
    width: 250px;
    text-align: justify;
    padding-top: 20px;
}

.choose {
    width: 250px;
}

.add-to-cart {
    /* margin: auto; */
    box-sizing: content-box;
    width: 250px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: olivedrab; */
    
}

#indiv-price {
    text-align: center;
    /* padding-left: 55px;
    padding-top: 25px; */
    font-size: 20px;
}

.another-space {
    padding-bottom: 50px;

}

/*SHOPPING CART*/

.shopping-cart-page {
    margin: auto;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    text-align: center;
    font-size: 40px;
}

.space-ice {
    padding-right: 425px;
}

.all-alaska {
    width: 775px;
}

.check-out-product {
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    width: 700px;
    padding-top: 25px;
    text-align: center;
}

.img-remove {
  
}

.cart-image {
    width: 200px;
    height: 200px;
}

.cart-remove {
    /* margin-top: 2px; */
    align-items: left;
    text-decoration: underline;
    font-size: 15px;
}

.shopping-description {
    /* margin: auto; */
    flex-grow: .5;
    box-sizing: content-box;
    width: 200px;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.shopping-price {
    /* width: 75px; */
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 25px;
}

.centered-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 1200px; */
}

.line-center-left {
    padding-left: 200px;
}

.black-line-2 {
    border-bottom: 1px;
    width: 750px;
    border-style: solid;
    border-color: black;
    align-items: center;
    
}

.line-center-right {
    padding-right: 75px;
}

.check-out-total {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: content-box;
    width: 700px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
}

.sound {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    padding-bottom: 15px;
    /* background-color: green; */

}

/*ELEMENTS*/

h1 {
    margin: auto;
    box-sizing: content-box;
    text-align: center;
    padding-bottom: 30px;
    font-size: 25px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
}

button {
    background-color: yellow;
    border-color: black;
    border-style: solid;
    /* margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px; */
    width: 133px;
    height: 44px;
    font-weight: bold;
}



